.teamDonationWrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 22px;
  border-radius: 15px;
  background-color:#1684a6;
  overflow-wrap: break-word;
}

.teamTotal {
  padding-top: 20px;
  font-size: 55px;
  margin:auto;
}

.currentYear
{
  padding-top: 20px;
  font-size: 40px;
}

.currentPercentage
{
  margin:auto;
  width:75%;
  padding-top: 20px;
}