.teamDonationWrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 22px;
  border-radius: 15px;
  background-color:#1ECBE1;
  overflow-wrap: break-word;
}

.teamTotal {
  padding-top: 20px;
  font-size: 55px;
}

.currentYear
{
  padding-top: 20px;
  font-size: 40px;
}

.currentPercentage
{
  padding-top: 20px;
  font-size: 30px;
}